.todoForm--main{
    padding: 5% 2%;
}
.todoForm--main form{
    display: flex;
    justify-content: space-between;
}
.todoForm--main form div{
    padding: 0 20px 0 0;
    background-color: transparent;
    width: 100%;
}
.todoForm--main form div input{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    font-size: 16px;
    font-weight: 100;
    color: #ddd;
}
.todoForm--main form button{
    padding: 10px;
    background-color: #ad2800;
    border-radius: 50%;
    font-size: 44px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}